/* reset */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}
/* header */
header{
    background-color: white;
    padding: 10px 20px;
}
h1{
    display: inline-block;
    vertical-align: middle;
}
.logo{
    vertical-align: middle;
}
/* main */
main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
}
.bottone1{
    background-color: #45ABEA;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.bottone2{
    background-color: white;
    color: gray;
    border-color: gray;
    padding: 5px;
    border-radius: 5px;
}
hr{
    color: gray;
}