/* reset */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}
/* header */
header{
    background-color: white;
    padding: 10px 20px;
}
h1{
    display: inline-block;
    vertical-align: middle;
}
.logo{
    vertical-align: middle;
}
/* main */
main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
}
.bottone1{
    background-color: #45ABEA;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.bottone2{
    background-color: white;
    color: gray;
    border-color: gray;
    padding: 5px;
    border-radius: 5px;
}
hr{
    color: gray;
}
.cerchio{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius:50%;
    text-align: center; 
    border-color: green;
}
.cerchio1{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius:50%;
    text-align: center; 
    border-color: red;
}
.green-check{
    color: green;
}
.red-cross{
    color: red;
}
.container{
    margin-top: 20px;
    margin-left: 30px;
}
p{
    display: inline-block;
}
.editorial{
    margin-top: 10px;
    margin-left: 0px;
}
.editorial1{
    margin-top: 10px;
    margin-left: 0px;
}
.bottone3{
    background-color: #45ABEA;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 20px;
    margin-top: 15px;
}
.bottone4{
    background-color: #9C72E4;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 20px; 
}
.bottone5{
    background-color: #64C0A9;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 20px; 
}
.bottone6{
    background-color: #F29E33;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 20px; 
}
.bottone7{
    background-color: #D863A1;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 20px; 
}
.bottone8{
    background-color: #B0C926;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 20px; 
}
.bottone9{
    background-color: #45ABEA;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 20px;
    margin-bottom: 60px; 
}